/* fonts here */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Merriweather:wght@300;700&display=swap');

:root {
    --red: #F15025;
    --White: #FFFFFF;
    --light-gray: #e6e8ee;
    --dark-gray: #ced0ce;
    --black: #191919;
    --violet: #9593d9;
    --lavender: #7c90db;



}

body {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.2rem;
    font-family: 'EB Garamond', serif;
    background-color: var(--light-gray);
}

header {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    background-color: var(--lavender);
}

nav {
    color: var(--White);
    letter-spacing: 1px;
}

nav ul {
    list-style-type: none;
}

/* footer and links */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--violet);
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.footer-container {
    width: 700px;
}

.author-credit {
    float: left;
    font-size: 1.2rem;
}

footer ul {
    list-style-type: none;
    float: right;
}

footer li {
    font-size: 1.8rem;
    margin: 5px;
    display: inline;
}

footer a {
    color: var(--black);
}

footer a:hover {
    color: var(--red);
}

